@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@use 'sass:color';
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  background-color: #c5e4e7;
  color: #5e7a7d;
  font-family: "Space Mono", monospace;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.site-header__logo {
  margin: 2.5rem;
}

.form,
.result-cnt {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.site-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: Min(4vw, 1.75rem);
  border-radius: 1.5rem 1.5rem 0 0;
  background-color: white;
  -webkit-box-shadow: 10px 10px 1.5rem -15px #7f9c9f;
          box-shadow: 10px 10px 1.5rem -15px #7f9c9f;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.form__input--as-btn, .form__label--as-btn {
  display: inline-block;
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 6px;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.form__input--number::-webkit-input-placeholder, .form__input--number--dollar::-webkit-input-placeholder, .form__input--number--person::-webkit-input-placeholder, .form__input--as-btn::-webkit-input-placeholder {
  opacity: 0.75;
}

.form__input--number::-moz-placeholder, .form__input--number--dollar::-moz-placeholder, .form__input--number--person::-moz-placeholder, .form__input--as-btn::-moz-placeholder {
  opacity: 0.75;
}

.form__input--number:-moz-placeholder, .form__input--number--dollar:-moz-placeholder, .form__input--number--person:-moz-placeholder, .form__input--as-btn:-moz-placeholder {
  opacity: 0.75;
}

.form__input--number:-ms-input-placeholder, .form__input--number--dollar:-ms-input-placeholder, .form__input--number--person:-ms-input-placeholder, .form__input--as-btn:-ms-input-placeholder {
  opacity: 0.75;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.form__options-cnt {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
}

.form__input-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__input--number, .form__input--number--dollar, .form__input--number--person {
  width: 100%;
  padding: 6px 6px 6px 38px;
  border: none;
  border-radius: 6px;
  background-color: #f4fafa !important;
  color: #00494d;
  font-family: 'Space Mono', monospace;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: right;
}

.form__input--number:focus, .form__input--number--dollar:focus, .form__input--number--person:focus {
  outline-color: #95eadf;
}

.form__input--number--warn {
  border: 2px solid #ff5c5c !important;
}

.form__input--number--dollar {
  background: url("/images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position: 20px;
}

.form__input--number--person {
  background: url("/images/icon-person.svg");
  background-repeat: no-repeat;
  background-position: 20px;
}

.form__input--hidden {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.form__input--hidden:focus + .form__label--as-btn {
  background-color: #c5e4e7;
  color: #00494d;
}

.form__input--hidden:checked + .form__label--as-btn {
  background-color: #26c0ab;
  color: #00494d;
}

.form__input--as-btn {
  padding: 0.5rem 10px;
  color: #5e7a7d;
  text-align: right;
}

.form__input--as-btn::-webkit-input-placeholder {
  text-align: center;
}

.form__input--as-btn::-moz-placeholder {
  text-align: center;
}

.form__input--as-btn:-moz-placeholder {
  text-align: center;
}

.form__input--as-btn:-ms-input-placeholder {
  text-align: center;
}

.form__label, .form__label--options, .form__label--warn {
  margin-bottom: 5px;
  font-weight: bold;
}

.form__label--options {
  margin-bottom: 10px;
}

.form__label--as-btn {
  -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  background-color: #00494d;
  color: white;
  text-align: center;
}

.form__label--as-btn:active {
  background-color: #95eadf;
  color: #00494d;
}

.form__label--warn {
  display: none;
  color: #ff5c5c;
}

.result-cnt {
  padding: Min(5vw, 2rem);
  border-radius: 15px;
  background-color: #00494d;
  color: #f4fafa;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.result-cnt__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.result-cnt__col {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  padding: 1rem 0;
}

.result-cnt__col h3 {
  font-size: 1em;
}

.result-cnt__col p {
  color: #7f9c9f;
}

.result-cnt__sum {
  padding-left: Min(2vw, 1rem);
  color: #26c0ab;
  font-size: 3em;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.result-cnt__reset-btn {
  padding: 5px 0;
  -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  border: none;
  border-radius: 6px;
  background-color: #26c0ab;
  color: #00494d;
  font-family: "Space Mono", monospace;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: auto;
}

.result-cnt__reset-btn:disabled {
  background-color: #006b70;
  color: #005c61;
}

.result-cnt__reset-btn:active {
  background-color: #95eadf;
}

@media only screen and (min-width: 768px) {
  .form__options-cnt {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 900px) {
  .site {
    width: 900px;
    height: auto;
  }
  .site-header__logo {
    margin-bottom: 5rem;
  }
  .form,
  .result-cnt {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
  .site-content {
    border-radius: 1.5rem;
  }
  .form {
    padding: 0.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */