@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@use 'sass:color';

// colors
$primary-color: hsl(172, 67%, 45%);
$primary-color-active: adjust-color(
	$color: $primary-color,
	$lightness: 30%,
);
$very-dark-cyan: hsl(183, 100%, 15%);
$very-dark-cyan-disabled: adjust-color(
	$color: $very-dark-cyan,
	$lightness: 7%,
);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$dark-grayish-cyan2: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$light-grayish-cyan2: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
$err-color: rgb(255, 92, 92);

//other
$input-font-size: 1.5rem;
$font-family: 'Space Mono', monospace;
$border-rad: 6px;
$btn-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	min-height: 100vh;
	background-color: $light-grayish-cyan;
	color: $dark-grayish-cyan;
	font-family: $font-family;
	justify-content: center;
	align-items: center;
}

.site {
	display: flex;
	height: 100vh;
	align-items: center;
	flex-direction: column;
}

.site-header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	&__logo {
		margin: 2.5rem;
	}
}

.form,
.result-cnt {
	flex: 1 1 100%;
}

.site-content {
	display: flex;
	padding: Min(4vw, 1.75rem);
	border-radius: 1.5rem 1.5rem 0 0;
	background-color: $white;
	box-shadow: 10px 10px 1.5rem -15px $dark-grayish-cyan2;
	flex-wrap: wrap;
	gap: 1rem;
}

%as-btn {
	display: inline-block;
	width: 100%;
	padding: 0.5rem 0;
	border-radius: $border-rad;
	font-size: $input-font-size;
	font-weight: 700;
	cursor: pointer;
}

%placeholder-opacity {
	&::-webkit-input-placeholder {
		opacity: 0.75;
	}
	&::-moz-placeholder {
		opacity: 0.75;
	}
	&:-moz-placeholder {
		opacity: 0.75;
	}
	&:-ms-input-placeholder {
		opacity: 0.75;
	}
}

.form {
	display: flex;
	padding: 0 0.5rem;
	flex-direction: column;
	gap: 2rem;
	&__options-cnt {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.2rem;
	}
	&__input-cnt {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__input {
		&--number {
			width: 100%;
			padding: 6px 6px 6px 38px;
			border: none;
			border-radius: $border-rad;
			background-color: $light-grayish-cyan2;
			color: $very-dark-cyan;
			font-family: 'Space Mono', monospace;
			font-size: $input-font-size;
			font-weight: 700;
			text-align: right;
			@extend %placeholder-opacity;
			&:focus {
				outline-color: $primary-color-active;
			}
			&--dollar {
				background-image: url('/images/icon-dollar.svg');
				background-repeat: no-repeat;
				background-position: 20px;
				@extend .form__input--number;
			}
			&--person {
				background-image: url('/images/icon-person.svg');
				background-repeat: no-repeat;
				background-position: 20px;
				@extend .form__input--number;
			}
		}
		&--hidden {
			position: absolute;
			width: 0;
			height: 0;
			opacity: 0;
			&:focus + .form__label--as-btn {
				background-color: $light-grayish-cyan;
				color: $very-dark-cyan;
			}
			&:checked + .form__label--as-btn {
				background-color: $primary-color;
				color: $very-dark-cyan;
			}
		}
		&--warn {
			border: 2px solid $err-color !important;
		}
		&--as-btn {
			padding: 0.5rem 10px;
			color: $dark-grayish-cyan;
			text-align: right;
			@extend %as-btn;
			@extend %placeholder-opacity;
			&::-webkit-input-placeholder {
				text-align: center;
			}
			&::-moz-placeholder {
				text-align: center;
			}
			&:-moz-placeholder {
				text-align: center;
			}
			&:-ms-input-placeholder {
				text-align: center;
			}
		}
	}
	&__label {
		margin-bottom: 5px;
		font-weight: bold;
		&--options {
			margin-bottom: 10px;
			@extend .form__label;
		}
		&--as-btn {
			transition: $btn-transition;
			background-color: $very-dark-cyan;
			color: $white;
			text-align: center;
			@extend %as-btn;
			&:active {
				background-color: $primary-color-active;
				color: $very-dark-cyan;
			}
		}
		&--warn {
			display: none;
			color: $err-color;
			@extend .form__label;
		}
	}
}

.result-cnt {
	padding: Min(5vw, 2rem);
	border-radius: 15px;
	background-color: $very-dark-cyan;
	color: $light-grayish-cyan2;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&__row {
		display: flex;
		justify-content: space-between;
	}
	&__col {
		min-width: max-content;
		padding: 1rem 0;
		& h3 {
			font-size: 1em;
		}
		& p {
			color: $dark-grayish-cyan2;
		}
	}
	&__sum {
		padding-left: Min(2vw, 1rem);
		color: $primary-color;
		font-size: 3em;
		text-align: right;
		text-overflow: ellipsis;
		overflow: hidden;
		flex: 1 1 0;
	}
	&__reset-btn {
		padding: 5px 0;
		transition: $btn-transition;
		border: none;
		border-radius: $border-rad;
		background-color: $primary-color;
		color: $very-dark-cyan;
		font-family: $font-family;
		font-size: 1.5rem;
		font-weight: 700;
		text-transform: uppercase;
		cursor: pointer;
		margin-top: auto;
		&:disabled {
			background-color: $very-dark-cyan-disabled;
			color: adjust-color($color: $very-dark-cyan, $lightness: 4%);
		}
		&:active {
			background-color: $primary-color-active;
		}
	}
}

@media only screen and (min-width: 768px) {
	.form {
		&__options-cnt {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

@media only screen and (min-width: 900px) {
	.site {
		width: 900px;
		height: auto;
	}

	.site-header {
		&__logo {
			margin-bottom: 5rem;
		}
	}

	.form,
	.result-cnt {
		flex: 1 1 0;
	}

	.site-content {
		border-radius: 1.5rem;
	}

	.form {
		padding: 0.5rem;
	}
}

// .attribution {
// 	font-size: 11px;
// 	text-align: center;
// }

// .attribution a {
// 	color: hsl(228, 45%, 44%);
// }
