@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@use 'sass:color';

// colors
$primary-color: hsl(172, 67%, 45%);
$primary-color-active: adjust-color(
	$color: $primary-color,
	$lightness: 30%,
);
$very-dark-cyan: hsl(183, 100%, 15%);
$very-dark-cyan-disabled: adjust-color(
	$color: $very-dark-cyan,
	$lightness: 7%,
);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$dark-grayish-cyan2: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$light-grayish-cyan2: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
$err-color: rgb(255, 92, 92);

//other
$input-font-size: 1.5rem;
$font-family: 'Space Mono', monospace;
$border-rad: 6px;
$btn-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex; // ok - dla wycentrowania apki na desktopie
	min-height: 100vh; // nie ok - dla wycentrowania apki na desktopie
	background-color: $light-grayish-cyan; // ok
	color: $dark-grayish-cyan; // ok - choć może być tylko na labele
	font-family: $font-family; // ok
	justify-content: center; // ok - dla wycentrowania apki na desktopie
	align-items: center; // ok - dla wycentrowania apki na desktopie
}

.site {
	display: flex; // ok
	height: 100vh; // ok
	align-items: center; // ok
	flex-direction: column; // ok
	// width: 100%; // ok, zamiennik - width: min(100%, 920px);
	// max-width: 920px; // ok, zamiennik - width: min(100%, 920px);
}

.site-header {
	display: flex; // ok
	justify-content: center; // ok
	align-items: center; // ok
	flex-grow: 1; // ok
	&__logo {
		margin: 2.5rem; // ok
	}
}

.form,
.result-cnt {
	flex: 1 1 100%; // ok
	// flex-basis: 50%;
	// max-width: calc(
	// 	460px - 2.6rem
	// ); // 920px/2 from .site max-width, 1.2rem/2 from gap and 2rem padding
}

.site-content {
	display: flex; // ok
	padding: Min(4vw, 1.75rem); // ok?
	border-radius: 1.5rem 1.5rem 0 0; // ok
	background-color: $white; // ok
	// flex-grow: 1;
	box-shadow: 10px 10px 1.5rem -15px $dark-grayish-cyan2; // ok
	// flex-direction: column;
	flex-wrap: wrap; // ok
	gap: 1rem; // ok
}

%as-btn {
	display: inline-block; // ok
	// max-width: 8rem;
	width: 100%; // ok
	padding: 0.5rem 0; // ok
	border-radius: $border-rad; // ok
	font-size: $input-font-size; // ok
	font-weight: 700; // ok
	cursor: pointer; // ok
}

%placeholder-opacity {
	// ok
	&::-webkit-input-placeholder {
		opacity: 0.75;
	}
	&::-moz-placeholder {
		opacity: 0.75;
	}
	&:-moz-placeholder {
		opacity: 0.75;
	}
	&:-ms-input-placeholder {
		opacity: 0.75;
	}
}

.form {
	display: flex; // ok
	padding: 0 0.5rem; // ok
	flex-direction: column; // ok
	gap: 2rem; // ok
	&__options-cnt {
		display: grid; // ok
		grid-template-columns: repeat(2, 1fr); // ok
		gap: 1.2rem; // ok
	}
	&__input-cnt {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__input {
		&--number {
			width: 100%;
			padding: 6px 6px 6px 38px;
			border: none;
			border-radius: $border-rad;
			background-color: $light-grayish-cyan2 !important; // do poprawy
			color: $very-dark-cyan;
			font-family: 'Space Mono', monospace;
			font-size: $input-font-size;
			font-weight: 700;
			text-align: right;
			@extend %placeholder-opacity;
			&:focus {
				outline-color: $primary-color-active;
			}
			&--warn {
				border: 2px solid $err-color !important;
			}
			&--dollar {
				background: url('/images/icon-dollar.svg');
				background-repeat: no-repeat;
				background-position: 20px;
				@extend .form__input--number;
			}
			&--person {
				background: url('/images/icon-person.svg');
				background-repeat: no-repeat;
				background-position: 20px;
				@extend .form__input--number;
			}
		}
		&--hidden {
			position: absolute;
			width: 0;
			height: 0;
			opacity: 0;
			&:focus + .form__label--as-btn {
				background-color: $light-grayish-cyan;
				color: $very-dark-cyan;
			}
			&:checked + .form__label--as-btn {
				background-color: $primary-color;
				color: $very-dark-cyan;
			}
		}
		&--as-btn {
			padding: 0.5rem 10px;
			color: $dark-grayish-cyan;
			text-align: right;
			@extend %as-btn;
			@extend %placeholder-opacity;
			&::-webkit-input-placeholder {
				text-align: center;
			}
			&::-moz-placeholder {
				text-align: center;
			}
			&:-moz-placeholder {
				text-align: center;
			}
			&:-ms-input-placeholder {
				text-align: center;
			}
		}
	}
	&__label {
		margin-bottom: 5px;
		font-weight: bold;
		&--options {
			margin-bottom: 10px;
			@extend .form__label;
		}
		&--as-btn {
			transition: $btn-transition;
			background-color: $very-dark-cyan;
			color: $white;
			text-align: center;
			@extend %as-btn;
			&:active {
				background-color: $primary-color-active;
				color: $very-dark-cyan;
			}
		}
		&--warn {
			display: none;
			color: $err-color;
			@extend .form__label;
		}
	}
}

.result-cnt {
	// margin: 0 -10px;
	padding: Min(5vw, 2rem);
	border-radius: 15px;
	background-color: $very-dark-cyan;
	color: $light-grayish-cyan2;
	overflow: hidden;
	// word-wrap: break-word;
	display: flex;
	flex-direction: column;
	&__row {
		display: flex;
		justify-content: space-between;
	}
	&__col {
		min-width: max-content;
		padding: 1rem 0; //ok
		& h3 {
			font-size: 1em; //ok
		}
		& p {
			color: $dark-grayish-cyan2; //ok
		}
	}
	&__sum {
		// min-width: 0;
		padding-left: Min(2vw, 1rem); //ok
		color: $primary-color; //ok
		font-size: 3em; //ok
		text-align: right; //ok
		text-overflow: ellipsis; //ok
		overflow: hidden; //ok
		flex: 1 1 0; // ok
		// justify-self: end;
		// max-height: 3ch;
	}
	&__reset-btn {
		// width: 100%;
		padding: 5px 0; //ok
		transition: $btn-transition; //ok
		border: none; //ok
		border-radius: $border-rad; // ok
		background-color: $primary-color; //ok
		color: $very-dark-cyan; //ok
		font-family: $font-family; //ok
		font-size: 1.5rem; //ok
		font-weight: 700; //ok
		text-transform: uppercase; //ok
		cursor: pointer; // ok
		margin-top: auto; // ok
		&:disabled {
			background-color: $very-dark-cyan-disabled; // ok
			color: adjust-color($color: $very-dark-cyan, $lightness: 4%); //ok
		}
		&:active {
			background-color: $primary-color-active; // ok
		}
	}
}

@media only screen and (min-width: 768px) {
	.form {
		&__options-cnt {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

@media only screen and (min-width: 900px) {
	.site {
		width: 900px;
		height: auto;
	}

	.site-header {
		&__logo {
			margin-bottom: 5rem;
		}
	}

	.form,
	.result-cnt {
		flex: 1 1 0;
	}

	.site-content {
		border-radius: 1.5rem;
	}

	.form {
		padding: 0.5rem;
	}
}

// @media only screen and (min-width: 992px) {
// 	.site {
// 		padding: 10vh 0 20vh 0;
// 	}

// 	.site-header {
// 		&__logo {
// 			margin-bottom: 6rem;
// 		}
// 	}

// 	.site-content {
// 		flex-direction: row;
// 		gap: 2rem;
// 		border-radius: 20px;
// 		width: 70vw;
// 		max-width: 1000px;
// 	}

// 	.form,
// 	.result-cnt {
// 		flex: 1 1 50%;
// 	}

// 	.form {
// 		&__options-cnt {
// 			grid-template-columns: repeat(3, 1fr);
// 		}
// 		&__input {
// 			&--as-btn {
// 				padding: 0 0 0 5px;
// 			}
// 		}
// 	}

// 	.result-cnt {
// 		margin: 0;
// 		display: flex;
// 		flex-direction: column;
// 		&__row {
// 			margin-bottom: 20px;
// 		}
// 		&__sum {
// 			font-size: 3rem;
// 		}
// 		&__reset-btn {
// 			margin-top: auto;
// 		}
// 	}
// }

// .attribution {
// 	font-size: 11px;
// 	text-align: center;
// }

// .attribution a {
// 	color: hsl(228, 45%, 44%);
// }
